body {
  font-size: 20px;
  font-family: monospace;
  margin-top: 100px;
  background: #f1f3fa;
}

.navbar {
  /*box-shadow: 2px 2px 5px #048ee7;*/
  box-shadow: 2px 2px 5px #999999;
  opacity: 0.9;
  background: #fff;
}
.navbar .nav-item {
  font-size: 1rem;
  padding-right: 1.1rem;
}

#container {
  /* margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative; */

  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
  position: relative; /* May be keep this one for responsiveness*/
}
#start {
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width: 130px;
  height: 80px;
  border: 2px solid lightgrey;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
  left: 230px;
  top: 200px;
  color: lightgrey;
}
#start:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}
/* I need to figure what to change in JS code so that taking off images (instead of postion: non absolute & dipslay: none) doesn't block everything: maybe they're in a condition or smthg */
#qImg {
  width: 200px;
  height: 200px;
  /*position: absolute;*/
  left: 0px;
  top: 0px;
}
#qImg img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
  display: none;
}

#question {
  width: 500px;
  height: 125px;
  position: absolute;
  right: 0;
  top: 0;
}
#question p {
  margin: 0;
  padding: 15px;
  font-size: 1.25em;
}

#choices {
  width: 480px;
  position: absolute;
  right: 0;
  top: 125px;
  padding: 10px;
}
.choice {
  display: inline-block;
  width: 135px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.choice:hover {
  border: 2px solid grey;
  font-weight: bold;
}

#timer {
  position: absolute;
  height: 100px;
  width: 200px;
  bottom: 0px;
  text-align: center;
}
#counter {
  font-size: 3em;
}
#btimeGauge {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left: 25px;
  margin-top: -10px;
}
#timeGauge {
  height: 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top: -10px;
  margin-left: 25px;
}
#progress {
  width: 500px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  text-align: right;
}
.prog {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 20px;
}
#scoreContainer {
  margin: 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 100px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;
}
#scoreContainer img {
  position: relative;
  top: 20px;
  left: 225px;
  display: none; /* display: none didn't work so i just took off the pictures! */
}
#scoreContainer p {
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  top: 30px;
  left: 220px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #08090a;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-year {
  text-transform: uppercase;
  color: #007bff;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 260px;
}

.marg {
  margin-top: 52px;
  background: whitesmoke;
}

.no-italics {
  font-style: normal;
}

#fp-modal-content,
#fpf-modal-content {
  display: none;
}

