$primary: #048ee7;
$primary-overlay: rgba(4, 142, 231, 0.8);

body {
  margin-top: 100px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.1rem;
    padding-right: 1.2rem;
  }
}

.no-italics {
  font-style: normal;
}
